[auth]
password-stores =
store-passwords = yes

[helpers]
diff-cmd = colordiff
merge-tool-cmd = subversion_vimdiff_merge

[tunnels]

[miscellany]
global-ignores = *.o *.lo *.la *.al .libs *.so *.so.[0-9]* *.a *.pyc *.pyo *~ .~* \
                 *.IDR* \
                 *.kate-swp \
                 .*.swp \
                 .git \
                 .gitignore \
                 .project.vim \
                 org.openembedded \
                 tags

enable-auto-props = yes

[auto-props]
*.doc   = svn:mime-type=application/msword
*.eps   = svn:mime-type=application/postscript
*.gz    = svn:mime-type=application/x-gzip
*.odg   = svn:mime-type=application/vnd.oasis.opendocument.graphics-template
*.ods   = svn:mime-type=application/vnd.oasis.opendocument.spreadsheet-template
*.odt   = svn:mime-type=application/vnd.oasis.opendocument.text-template
*.ott   = svn:mime-type=application/vnd.oasis.opendocument.text-web
*.pdf   = svn:mime-type=application/pdf
*.tgz   = svn:mime-type=application/gnutar
*.vsd   = svn:mime-type=application/x-visio
*.xls   = svn:mime-type=application/excel
*.zip   = svn:mime-type=application/zip

*.gif   = svn:mime-type=image/gif
*.jpeg  = svn:mime-type=image/jpeg
*.jpg   = svn:mime-type=image/jpeg
*.png   = svn:mime-type=image/png
*.tif   = svn:mime-type=image/tiff
*.tiff  = svn:mime-type=image/tiff

*.css   = svn:mime-type=text/css
*.htm   = svn:mime-type=text/html
*.html  = svn:mime-type=text/html
*.xml   = svn:mime-type=text/xml
*.xslt  = svn:mime-type=text/xslt
*.xsd   = svn:mime-type=text/xsdive


